.startpage-top {
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("./src/assets/phone-top-lite.png");
  background-repeat: no-repeat;
  width: 350px;
  height: 23px;
  z-index: 10;
}
.startpage {
  background-image: url("./src/assets/start/bg.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 137px;
  width: 375px;
  height: 812px;
  .startpage-logo {
    background-image: url("./src/assets/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 375px;
    height: 215px;
  }
}
