.order-inner {
  padding-top: 57px;
  padding: 57px 26px 0;
  width: 375px;
  .order-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
    .order-back {
      background-image: url("./src/assets/back.png");
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
    }
    .order-title {
      font-style: 16px;
      color: #001833;
    }
    .order-cart {
      display: block;
      width: 26px;
      height: 26px;
      background-image: url("../../assets/header/buy.svg");
    }
  }
  .order-img {
    width: 325px;
    height: 146px;
    border-radius: 12px;
    background-color: #f7f8fb;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .order-info {
    font-family: "DM Sans", serif;
    color: #001833;
    .order-info-item {
      display: flex;
      justify-content: space-between;
      padding: 21px 0;
      border-bottom: 1px solid #f4f5f7;
      .order-count {
        border: 1px solid rgba(216, 216, 216, 0.4);
        border-radius: 50px;
        span {
          display: inline-block;
          padding: 7px 15px;
          cursor: pointer;
        }
      }
    }
  }
  .order-price {
    font-size: 16px;
    color: #001833;
    display: flex;
    justify-content: space-between;
    padding: 22px 0 10px;
    margin-bottom: 10px;
  }
  .order-button {
    background-color: #324a59;
    color: #fff;
    border-radius: 30px;
    height: 46px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
