@import "../../style/vars.scss";
.cart-inner {
  padding: 57px 26px 0;
  width: 375px;
  .cart-top {
    margin-bottom: 24px;
    .cart-back {
      background-image: url("./src/assets/back.png");
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      margin-bottom: 24px;
    }
    .cart-title {
      font-size: 20px;
      color: #001833;
    }
  }
  .cart-wrapper {
    margin-bottom: 50px;
  }
  .cart-bottom {
    display: flex;
    justify-content: space-between;
    .cart-total-price {
      .cart-total-price-title {
        font-size: 12px;
        color: rgba(0, 24, 51, 0.22);
      }
      .cart-total-price-sum {
        font-size: 22px;
        color: #001833;
      }
    }
  }
  .cart-button {
    background-color: $accentColor;
    color: #fff;
    border-radius: 30px;
    height: 46px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
