@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./vars.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: $mainTextColor;
  .phone-top {
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("./src/assets/phone-top-dark.png");
    background-repeat: no-repeat;
    width: 350px;
    height: 23px;
    z-index: 10;
  }
  .active {
    color: #000000 !important;
  }
}
