@import "../../style/vars.scss";
.reg-inner {
  padding-top: 57px;
  width: 100%;
  align-self: start;
  width: 293px;
  .reg-back {
    background-image: url("./public/icons/back.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-bottom: 46px;
  }
  .reg-title {
    font-size: 22px;
    color: #181d2d;
    margin-bottom: 24px;
  }
  .reg-subtitle {
    font-weight: 400;
    margin-bottom: 46px;
    color: $shadowColor;
  }
  .reg-form {
    display: flex;
    flex-direction: column;
    gap: 36px;

    .input-str {
      display: flex;
      border-bottom: 1px solid #c1c7d0;
      input {
        border: none;
        outline: none;
        padding-left: 19px;
      }
      input::placeholder {
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        color: #c1c7d0;
      }
      .input-icon {
        background-position: center;
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        display: block;
        border-right: 1px solid #c1c7d0;
      }
      .user-icon {
        background-image: url("../../assets/form/profile.png");
      }
      .mobile-icon {
        background-image: url("../../assets/form/phone.png");
      }
      .email-icon {
        background-image: url("../../assets/form/message.png");
      }
      .password-icon {
        background-image: url("../../assets/form/lock.png");
      }
    }
    .reg-agree {
      font-size: 12px;
      color: $accentColor;
      font-weight: 400;
    }
    input[type="submit"] {
      background-image: url("./public/icons/forward.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: $accentColor;
      cursor: pointer;
      margin-top: 39px;
      align-self: flex-end;
      outline: none;
      border: none;
    }
  }
  .errorField {
    color: $accentColor;
    font-size: 12px;
  }
  .reg-link {
    padding-top: 92px;
    color: $shadowColor;
    font-weight: 400;
    a {
      text-decoration: none;
      color: $accentColor;
      font-weight: 500;
    }
  }
}
